html{
    background-color: coral;
    scroll-behavior: smooth;

}

.menu{
    display: none;
    background-color: rgb(176, 230, 197);
    margin-top: -50px;
    width: 200px;
    
}

.active{
    display: block;
}

.line{
    margin-top: -11px;
    font-weight:bolder;
     
}
button{
    background-color:aquamarine;
    height: 35px;
}

li{
     list-style: none;
     margin-bottom: 30px;
}



  article{
      margin-bottom: 300px;
      margin-left: 10%;
      margin-right: 10%;
      justify-content: center;
  }
 
  .fade-in-section {
    opacity: 0;
    /* transform: translateY(20vh); */
    display: hidden;
    transition: opacity 1s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
  }
  .fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
  }
  